<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clark.custom_view">

    <application>
        <activity android:name=".CustomViewActivity" />
        <activity android:name=".animation.AnimationActivity" />
        <activity android:name=".CustomControlActivity" />
        <activity android:name=".draw_picture.DrawPictureActivity" />
    </application>

</manifest>