<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clark.process_aidl">

    <application>
        <activity android:name=".manual.client.ManualAidlActivity"></activity>
        <activity android:name=".client.AidlActivity" />

        <service
            android:name=".server.BookManagerService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.android.clark.aidlserver.BookManagerService" />
            </intent-filter>
        </service>
    </application>

</manifest>